<% include ../partials/header %>
<div class="jumbotron">
    <h1 class="display-3">140-390 QUIZ1</h1>
    <p class="lead">RADTANAPORN  CHOEKAN</p>
    <hr class="my-2">
    <p>5930213024 SOFTWARE ENGINEERING</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">GO!</a>
    </p>
</div>

  <% include ../partials/footer %>